<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Resolution</key>
	<string></string>
	<key>Encode Quality</key>
	<string></string>
	<key>Encode Bit Rate</key>
	<string></string>
	<key>FPS</key>
	<string></string>
	<key>Brightness</key>
	<string></string>
	<key>Contrast</key>
	<string></string>
	<key>Video Capture Status</key>
	<string></string>
	<key>Device Mute</key>
	<string></string>
	<key>Available Storage</key>
	<string></string>
	<key>Recorder Status</key>
	<string></string>
	<key>File Amount</key>
	<string></string>
	<key>Wi-Fi Parameters</key>
	<string></string>
	<key>Reboot System</key>
	<string></string>
</dict>
</plist>
