<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BOOTPROTO</key>
	<string></string>
	<key>IPADDR</key>
	<string></string>
	<key>GATEWAY</key>
	<string></string>
	<key>SSID</key>
	<string></string>
	<key>AUTH_MODE</key>
	<string></string>
	<key>ENCRYPT_TYPE</key>
	<string></string>
	<key>AUTH_KEY</key>
	<string></string>
	<key>WPS_TRIG_KEY</key>
	<string></string>
	<key>AP_IPADDR</key>
	<string></string>
	<key>AP_SSID</key>
	<string></string>
	<key>AP_AUTH_MODE</key>
	<string></string>
	<key>AP_ENCRYPT_TYPE</key>
	<string></string>
	<key>AP_AUTH_KEY</key>
	<string></string>
	<key>AP_CHANNEL</key>
	<string></string>
</dict>
</plist>
